@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~assets/fonts/Poppins-SemiBold.ttf');
}

html {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  --clr-primary: #3edeb8;
  --underline-overflow: -0.2em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.btn {
  font-size: 16px;
  border: solid 1px var(--clr-primary);
  padding: 0.3em 0.8em;
  border-radius: 3px;

  &--highlight {
    background: var(--clr-primary);
  }
}

.underline {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: var(--underline-overflow);
    width: calc(var(--underline-overflow) * -2 + 100%);
    bottom: 10%;
    height: 0.3em;
    background: var(--clr-primary);
    border-radius: 0.1em;
    z-index: -1;
  }
}
