@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~assets/fonts/Poppins-SemiBold.ttf');
}

html {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  --clr-primary: #3edeb8;
  --bg-primary: #fff;
  --bg-secondary: rgba(0, 0, 0, 0.05);
  --underline-overflow: -0.2em;
  --shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.btn {
  font-size: 16px;
  border: solid 1px var(--clr-primary);
  padding: 0.3em 0.8em;
  border-radius: 3px;
  cursor: pointer;

  &--highlight {
    background: var(--clr-primary);
  }

  & + .btn {
    margin-left: 0.5rem;
  }
}

.underline {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: var(--underline-overflow);
    width: calc(var(--underline-overflow) * -2 + 100%);
    bottom: 10%;
    height: 0.3em;
    background: var(--clr-primary);
    border-radius: 0.1em;
    z-index: -1;
  }
}

.grid {
  display: grid;

  &--outer {
    grid-template-columns: minmax(0, 2rem) 1fr minmax(0, 2rem);

    & > * {
      grid-column: 2;
    }
  }

  &--inner {
    grid-template-columns: repeat(1fr, 2);
    grid-gap: 1rem;
  }
}

.picture img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: var(--shadow);
}
